.footerFrame {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin: 2rem auto 1rem auto !important;
    padding: 0.5rem 0 0 0;
    width: 100%;
    border: none;
    border-top: 1px solid rgb(227, 71, 10);
}

.footerFrameContent {
    margin: 0 auto !important;
    max-width: 90%;
}

.HighlightColor {
    background-color: rgb(227, 71, 10);
}

.Grey0 {
    background-color: rgb(0, 0, 0);
}

.Grey1 {
    background-color: rgb(10, 10, 10);
}

.Grey2 {
    background-color: rgb(20, 20, 20);
}

.Grey3 {
    background-color: rgb(30, 30, 30);
}

.Grey4 {
    background-color: rgb(40, 40, 40);
}

.Grey5 {
    background-color: rgb(50, 50, 50);
}

.Grey6 {
    background-color: rgb(60, 60, 60);
}

.Grey7 {
    background-color: rgb(70, 70, 70);
}

.Grey8 {
    background-color: rgb(80, 80, 80);
}

.Grey9 {
    background-color: rgb(90, 90, 90);
}

.Grey10 {
    background-color: rgb(100, 100, 100);
}

.Grey11 {
    background-color: rgb(110, 110, 110);
}

.Grey12 {
    background-color: rgb(120, 120, 120);
}

.Grey13 {
    background-color: rgb(130, 130, 130);
}

.Grey14 {
    background-color: rgb(140, 140, 140);
}

.Grey15 {
    background-color: rgb(150, 150, 150);
}

.Grey16 {
    background-color: rgb(160, 160, 160);
}

.Grey17 {
    background-color: rgb(170, 170, 170);
}

.Grey18 {
    background-color: rgb(180, 180, 180);
}

.Grey19 {
    background-color: rgb(190, 190, 190);
}

.Grey20 {
    background-color: rgb(200, 200, 200);
}

.Grey21 {
    background-color: rgb(210, 210, 210);
}

.Grey22 {
    background-color: rgb(220, 220, 220);
}

.Grey23 {
    background-color: rgb(230, 230, 230);
}

.Grey24 {
    background-color: rgb(240, 240, 240);
}

.Grey25 {
    background-color: rgb(250, 250, 250);
}