@use "../styles/_colors.scss" as colors;

/*
*/

h4 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2.4rem;
}

.projectDetails {
    display: block;
}

.projectDetails a,
.projectDetails a:visited {
    color: colors.$LinksMain;
    font-weight: bold;
    text-decoration: none;
}

.projectDetails a:hover {
    color: colors.$LinksHover;
}

.Action {
    margin: 1rem 0 0.4rem 0;
}

.ActionDescription {
    margin: 0 2rem 0 0;
}

.ActionDescriptionText {
    padding-right: 2rem;
    text-transform: capitalize;
}

.ActionDescriptionDate {
    padding-right: 2rem;
    color: colors.$Grey6;
}

.ActionDescriptionWeek {
    padding-right: 2rem;
    color: colors.$HighlightColor;
}

.actionsList {
    list-style-type: disc;
    margin-bottom: 2.5rem;
}