@use "../styles/_colors.scss" as colors;

/*
*/

.projectsFrame {
    background-color: colors.$YRAPWhite;
}

.projectsFrame h3 {
    display: inline-block;
    color: colors.$Grey2;
    font-weight: 700;
    font-size: 2.3rem;
    border: none;
    border-bottom: 1px solid colors.$HighlightColor;
}

.addProjectsFrameContent {
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: colors.$Grey12;
    box-shadow: 15px 15px 50px colors.$Grey9;
}

.projectsFrameContent {
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: colors.$Grey12;
    box-shadow: 15px 15px 50px colors.$Grey9;
}

.addProjectsFrameContent form {
    display: flex;
    margin: 1rem 0 2rem 0;
}

.addProjectsFrameContent form label {
    display: flex;
    padding: 0 1rem 0 0;
}

.projectsFrameContent a,
.projectsFrameContent a:visited {
    color: colors.$LinksMain;
    text-decoration: none;
}

.projectsFrameContent a:hover {
    color: colors.$LinksHover;
}

.projectsFrameContent ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.projectsFrameContent li {
    padding: 0.5rem;
    font-size: 1.2rem;
}