$YRAPWhite: rgb(255, 255, 255);
$HighlightColor: rgb(227, 71, 10);
$YRAPBlack: rgb(0, 0, 0);
$Grey1: rgb(20, 20, 20);
$Grey2: rgb(40, 40, 40);
$Grey3: rgb(60, 60, 60);
$Grey4: rgb(80, 80, 80);
$Grey5: rgb(100, 100, 100);
$Grey6: rgb(120, 120, 120);
$Grey7: rgb(140, 140, 140);
$Grey8: rgb(160, 160, 160);
$Grey9: rgb(180, 180, 180);
$Grey10: rgb(200, 200, 200);
$Grey11: rgb(220, 220, 220);
$Grey12: rgb(240, 240, 240);

/* Most links */

$LinksMain: rgb(227, 71, 10);
$LinksHover: rgb(50, 50, 50);