@use "../styles/_colors.scss" as colors;

/*
*/

.footerFrame {
    box-sizing: border-box;
    background-color: colors.$YRAPWhite;
    margin: 2rem auto 1rem auto !important;
    padding: 0.5rem 0 0 0;
    width: 100%;
    border: none;
    border-top: 1px solid colors.$HighlightColor;
}

.footerFrameContent {
    margin: 0 auto !important;
    max-width: 90%;
}