@use "../styles/_colors.scss" as colors;

/*
*/

.navbarFrame {
    box-sizing: border-box;
    background-color: colors.$Grey2;
    margin: 0 auto !important;
    width: 100%;
}

.navbarFrameContent {
    margin: 0 auto !important;
    color: colors.$YRAPWhite;
    display: flex;
    align-items: center;
    max-width: 90%;
    justify-content: flex-start;
    height: 3.3rem;
}

.navbarFrameContent a,
a:visited {
    text-decoration: none;
    color: colors.$YRAPWhite;
}

.navbarFrameContent a:hover {
    text-decoration: none;
    box-sizing: border-box;
    color: colors.$HighlightColor;
    background-color: colors.$Grey3;
    border: none;
    border-radius: 100px;
    box-shadow: 5px 5px 40px colors.$Grey3;
}

.navbarFrameDivs {
    display: flex;
    color: colors.$HighlightColor;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.navbarFrameContent h1 {
    display: flex;
    font-size: 1.6rem;
    justify-content: flex-start;
    animation: wingTitle 2s;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.navbarFrameContent h2 {
    display: flex;
    font-size: 1.3rem;
    flex-grow: 1;
    margin: 0 0 0 0.6rem;
    color: rgb(227, 71, 10);
    justify-content: flex-start;
    font-weight: 400;
}

.navbarFrameNavList {
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    font-size: 1.5rem;
    animation: wingNav 3s;
}

.navbarFrameIcon {
    color: #4c4848;
}

.navbarFrameNavList li {
    flex-shrink: 1;
}

@keyframes wingTitle {
    0% {
        opacity: 0.3;
        color: colors.$HighlightColor;
        transform: translate(0, 0);
    }
    5% {
        opacity: 0.9;
        color: colors.$HighlightColor;
        transform: translate(-3px, 3px);
    }
    10% {
        opacity: 0.9;
        color: colors.$HighlightColor;
        transform: translate(-3px, 0);
    }
    90% {
        opacity: 0.9;
        color: colors.$HighlightColor;
        transform: translateY(0, 0);
    }
    100% {
        opacity: 1;
        color: colors.$YRAPWhite;
        transform: translateY(0, 0);
    }
}

@keyframes wingNav {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}